@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import "./header";
@import "./section-1";
@import "./section-2";
@import "./section-3";
body {
  font-family: "Roboto", sans-serif;
  background: var(--bgfeedbc, #feedbc);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
   .container {
    margin: 0 auto;
    max-width: 360px;
  }
}
